h1.page-header {
    margin-top: -5px;
}

.sidebar {
    padding-left: 0;
}

.main-container { 
    background: #FFF;
    padding-top: 15px;
    margin-top: -20px;
}
.col-centered {
    float: none;
    margin: 0 auto;
}

.footer {
    width: 100%;
}  
.nav-black{
  	background: black;	
    color: white;

}

